<form id="search" class="center" action="/search" method="POST">
  <span class="center"><img src="https://i.ibb.co/g7Y2xx8/logo.png" alt="logo"></span>
  <div class="search-bar center">
    <input type="text" name="term" placeholder="Search for a hero">
    <button type="submit"><i class="material-icons medium">search</i></button>
  </div>
</form>
