<header>
 <img src="https://i.ibb.co/Ln2psBx/log.png" alt="logo-pic">
</header>

<div class="search-area">
  {{> search}}
</div>

<div class="hero-container">
  {{#each heroes}}
  {{> heroProfile}}
  {{/each}}
</div>
