body {
  font-family: 'Bangers', cursive !important;}

.hero-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: space-between;
  padding: 2%;
  width: 90%;
  margin: 2% auto;
}

.hero-teaser {
  justify-content: center;
  text-align: center;
  padding: 2%;
  border: 2px solid black;
  border-radius: 2rem;
  margin: 2% 2%;
}

.hero-teaser-pic {
  margin: 2% auto;
}

.hero-profile {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-content: space-between;
  padding: 2%;
  border: 2px solid black;
  border-radius: 2rem;
  margin: 2% auto;
  width: 100%;
}
.hero-pic {
  width: 45%;
  margin: 1%;
}

.hero-info {
  width: 45%;
  margin: 1%;
}

.hero-pic img {
  width: 100%;
}

.hero-info {
  width: 45%;
}

#search {
  position: relative;
  top: 45%;
  align-content: center;
  width: 100%;
}

.center {
  margin: 0 auto;
}

.center img {
  width: 100%;
}

.search-bar {
  width: 30%;
}

input {
  width: 50%;
  height: auto;
  font-family: Helvetica, sans-serif;
  border: solid black 1px;
  border-radius: 25px;
  margin: 0 auto;
}

button {
  height: auto;
  border-radius: 25px;
  margin: 0 auto;
}
